.centered {
  display: flex;
  justify-content: center;
}

.email {
  background: black;
  color: white;
}

.footer {
  border-top: 1px solid #cbd5e1;
  margin-top: 30px;
}

.social {
  display: "grid";
  grid: "repeat(3, 1fr)";
  gap: "1rem";
  padding: "1rem";
}
